@font-face {
    font-family: 'Monique';
    src: url('Monique-BoldRound40.eot');
    src: url('Monique-BoldRound40.eot?#iefix') format('embedded-opentype'),
        url('Monique-BoldRound40.woff2') format('woff2'),
        url('Monique-BoldRound40.svg#Monique-BoldRound40') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Monique';
    src: url('Monique-BoldRound20.eot');
    src: url('Monique-BoldRound20.eot?#iefix') format('embedded-opentype'),
        url('Monique-BoldRound20.woff2') format('woff2'),
        url('Monique-BoldRound20.svg#Monique-BoldRound20') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Monique';
    src: url('Monique-RegularOblique.eot');
    src: url('Monique-RegularOblique.eot?#iefix') format('embedded-opentype'),
        url('Monique-RegularOblique.woff2') format('woff2'),
        url('Monique-RegularOblique.svg#Monique-RegularOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monique';
    src: url('Monique-Bold.eot');
    src: url('Monique-Bold.eot?#iefix') format('embedded-opentype'),
        url('Monique-Bold.woff2') format('woff2'),
        url('Monique-Bold.svg#Monique-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Monique';
    src: url('Monique-BoldObliqueRound20.eot');
    src: url('Monique-BoldObliqueRound20.eot?#iefix') format('embedded-opentype'),
        url('Monique-BoldObliqueRound20.woff2') format('woff2'),
        url('Monique-BoldObliqueRound20.svg#Monique-BoldObliqueRound20') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Monique';
    src: url('Monique-RegularObliqueRound20.eot');
    src: url('Monique-RegularObliqueRound20.eot?#iefix') format('embedded-opentype'),
        url('Monique-RegularObliqueRound20.woff2') format('woff2'),
        url('Monique-RegularObliqueRound20.svg#Monique-RegularObliqueRound20') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monique';
    src: url('Monique-RegularObliqueRound40.eot');
    src: url('Monique-RegularObliqueRound40.eot?#iefix') format('embedded-opentype'),
        url('Monique-RegularObliqueRound40.woff2') format('woff2'),
        url('Monique-RegularObliqueRound40.svg#Monique-RegularObliqueRound40') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monique';
    src: url('Monique-BoldObliqueRound40.eot');
    src: url('Monique-BoldObliqueRound40.eot?#iefix') format('embedded-opentype'),
        url('Monique-BoldObliqueRound40.woff2') format('woff2'),
        url('Monique-BoldObliqueRound40.svg#Monique-BoldObliqueRound40') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Monique';
    src: url('Monique-BoldOblique.eot');
    src: url('Monique-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('Monique-BoldOblique.woff2') format('woff2'),
        url('Monique-BoldOblique.svg#Monique-BoldOblique') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Monique';
    src: url('Monique-RegularRound20.eot');
    src: url('Monique-RegularRound20.eot?#iefix') format('embedded-opentype'),
        url('Monique-RegularRound20.woff2') format('woff2'),
        url('Monique-RegularRound20.svg#Monique-RegularRound20') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monique';
    src: url('Monique-Regular.eot');
    src: url('Monique-Regular.eot?#iefix') format('embedded-opentype'),
        url('Monique-Regular.woff2') format('woff2'),
        url('Monique-Regular.svg#Monique-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monique';
    src: url('Monique-RegularRound40.eot');
    src: url('Monique-RegularRound40.eot?#iefix') format('embedded-opentype'),
        url('Monique-RegularRound40.woff2') format('woff2'),
        url('Monique-RegularRound40.svg#Monique-RegularRound40') format('svg');
    font-weight: normal;
    font-style: normal;
}

