.logo {
  &__container {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__graphic {
    width: 90vw;
    max-height: 60vh;
    overflow: visible;
    transform: translateY(-20%);
  }
}