@import '~styles/config';

.text {
  @include rf(36, 80);

  color: #bb9cd8;
  font-family: Monique, monospace;

  &.small {
    @include rf(16, 50);
  }

  &.large {
    @include rf(36, 120);
  }
}

.greeting {
  &__hand {
    @include grid-col(4);

    svg {
      max-width: 20vw;
    }
  }

  &__text {
    @include grid-col(8);

    align-self: center;
  }
}

.introduction {
  &__text {
    @include grid-col(9);
    @include grid-offset-left(3);
  }

  &__name {
    @include grid-col(12);
  }
}

.projects {
  &__text {
    @include grid-col(5)
  }

  &__cat {
    @include grid-col(7)
  }
}

// .cat {
//   @include grid-col(12);
// }

// .splash {
//   height: 100vh;
// }
