@import '~styles/config';

.greeting {
  &__hand {
    @include grid-col(5);

    svg {
      max-width: 20vw;
    }
  }

  &__text {
    @include grid-col(7);
    @include rf(36, 102);

    font-family: Monique, monospace;
    color: #bb9cd8;
    align-self: center;
  }
}

.introduction {
  &__text {
    @include grid-col(8);
    @include grid-offset-left(4);
    @include rf(36, 82);

    font-family: Monique, monospace;
    color: #bb9cd8;
  }

  &__name {
    @include grid-col(12);
  }
}

.cat {
  @include grid-col(12);
}
